In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('Amazon Sale Report.csv',usecols=['Amount'])

In [3]:
x=df['Amount']

In [4]:
x = x.head(50)

In [6]:
type(x)

pandas.core.series.Series

# Series Attributes

<h2><b>1. index</b></h2> Defines the index of the series<br>
<i>syntax</i>==> seriesobject.index

In [7]:
x.index

RangeIndex(start=0, stop=50, step=1)

<h2><b>2. shape</b></h2> returns the tuple of the data<br>
<i>syntax</i>==> seriesobject.shape

In [8]:
x.shape

(50,)

<h2><b>3. dtype</b></h2> return the data type of the data<br>
<i>syntax</i>==> seriesobject.dtype

In [9]:
x.dtype

dtype('float64')

<h2><b>4. size</b></h2> returns the size of the data<br>
<i>syntax</i>==> seriesobject.size

In [11]:
x.size

50

<h2><b>5. empty</b></h2> check wheter it empty or not. It empty series than return True otherwise False<br>
<i>syntax</i>==> seriesobject.empty

In [12]:
x.empty

False

<h2><b>6. hasnans</b></h2> return True if their any NaN values otherwise False<br>
<i>syntax</i>==> seriesobject.hasnans

In [13]:
x.hasnans

True

<h2><b>7. nbytes</b></h2> returns number of bytes in the data<br>
<i>syntax</i>==> seriesobject.nbytes

In [14]:
x.nbytes

400

<h2><b>8. ndim</b></h2> returns the number of dimensions<br>
<i>syntax</i>==> seriesobject.ndim

In [15]:
x.ndim

1

# Series Methods(Common)

<h2><b>1. head()</b></h2> returns the first five values from the series<br>
<i>syntax</i>==> seriesobject.head()

In [20]:
x.head()

0    647.62
1    406.00
2    329.00
3    753.33
4    574.00
Name: Amount, dtype: float64

<h2><b>2. tail()</b></h2> returns the last five values from the series<br>
<i>syntax</i>==> seriesobject.tail()

In [22]:
x.tail()

45     759.0
46    1146.0
47     665.0
48     429.0
49     399.0
Name: Amount, dtype: float64

<h2><b>3. sum()</b></h2> returns the sum of all values<br>
<i>syntax</i>==> seriesobject.sum()

In [23]:
x.sum()

27963.43

<h2><b>4. count()</b></h2> returns the number of non-NaN/null values<br>
<i>syntax</i>==> seriesobject.count()

In [25]:
x.count()

48

<h2><b>5. mean()</b></h2> returns the mean/avg of series values<br>
<i>syntax</i>==> seriesobject.mean()

In [26]:
x.mean()

582.5714583333333

<h2><b>6. describe()</b></h2> This method returns the below values,
<ul>
    <li>count</li>
    <li>mean</li>
    <li>std</li>
    <li>min</li>
    <li>25%</li>
    <li>50%</li>
    <li>75%</li>
    <li>max</li><br>
<i>syntax</i>==> seriesobject.describe()

In [28]:
x.describe()

count      48.000000
mean      582.571458
std       221.610593
min       299.000000
25%       399.000000
50%       517.000000
75%       688.500000
max      1233.000000
Name: Amount, dtype: float64

<h2><b>7. unique()</b></h2> returns the unique values from the series<br>
<i>syntax</i>==> seriesobject.unique()

In [29]:
x.unique()

array([ 647.62,  406.  ,  329.  ,  753.33,  574.  ,  824.  ,  653.  ,
        399.  ,     nan,  363.  ,  685.  ,  364.  ,  657.  ,  771.  ,
        544.  ,  458.  ,  886.  ,  517.  ,  666.  ,  376.  ,  570.48,
        499.  ,  582.  ,  299.  ,  459.  ,  791.  , 1233.  ,  487.  ,
        368.  ,  699.  ,  885.  ,  424.  , 1126.  ,  788.  ,  759.  ,
       1146.  ,  665.  ,  429.  ])

<h2><b>8. nunique()</b></h2> returns the number of unique values from the series<br>
<i>syntax</i>==> seriesobject.nunique()

In [31]:
x.nunique()

37